:root {
    --dark: #292929;
    --grey: #5C5C5C;
    --yellow: #C5A639;
    --white: #fff;
    --black: #000;
}

.body {
    background-color: var(--dark);
    font-family: "Roboto Slab";
    color: var(--white);
}

.container {
    width: 940px;
    margin: 0 auto;
}

.full-screen {
    height: 100vh;
    position: relative;
}

.link {
    color: var(--white);
}

.section-1 {
    background: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.section-1__content {
    background-color: rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 280px;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 400px);
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 15px;
}

.section-1__content::before {
    content: "";
    border: 7px var(--yellow) solid;
    border-right: none;
    border-bottom: none;
    position: absolute;
    width: 283px;
    height: 320px;
    top: -26px;
    left: -26px;
}

.section-1__content::after {
    content: "";
    border: 7px var(--yellow) solid;
    border-right: none;
    border-left: none;
    border-top: none;
    position: absolute;
    width: 719px;
    height: 320px;
    top: -20px;
    left: -26px;
}

.section-1__heading {
    color: var(--white);
    font-size: 40px;
    font-family: "Roboto slab";
    margin-bottom: 30px;
}

.section-1__description {
    margin-bottom: 30px;
}

.section-2__text {
    position: absolute;
    width: 340px;
    height: 320px;
    right: 250px;
    top: calc(50% - 140px);
    font-size: 16px;
    text-align: right;
    line-height: 40px;
}

.section-2__text::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 300px;
    border-top: 7px var(--yellow) solid;
    border-right: 7px var(--yellow) solid;
    top: -50px;
    right: -20px;
}

.section-2__text::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    border-bottom: 7px var(--yellow) solid;
    bottom: 60px;
    right: -20px;
}

.section-2__photo {
    object-fit: cover;
    position: absolute;
    top: calc(50% - 225px);
    left: 235px;
}

.section-3 {
    background-image: url(../img/background-2.jpg);
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.section-3__content {
    background-color: rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
}

.section-3__content::before {
    content: "";
    position: absolute;
    width: 470px;
    height: 186px;
    border-left: 7px var(--yellow) solid;
    border-bottom: 7px var(--yellow) solid;
    bottom: -20px;
    left: -20px;
}

.promo-block {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.promo-block__item_round {
    border: 5px var(--yellow) solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    list-style: none;
    position: relative;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.promo-block__item_in-round {
    font-size: 20px;
}

.promo-block__item_under-round {
    margin-top: 60px;
    width: 100px;
}

.section-3__text {
    position: absolute;
    top: 60%;
    width: 300px;
    font-size: 16px;
    line-height: 30px;
    left: 35px;
}

.section-5 {
    background-image: url(../img/background-3.jpg);
    background-size: 100%;
    background-position: center;
    opacity: 0.8;
}

.section-5__content {
    background-color: rgba(0, 0, 0, 0.6);
    width: 800px;
    height: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
}

.message-form {
    position: absolute;
    left: calc(50% - 385px);
    top: 5%;
}

.message-form__heading {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.message-form__input {
    background-color: rgba(139, 139, 139, 0.2);
    border: 3px var(--yellow) solid;
    border-radius: 5px;
    width: 760px;
    height: 45px;
    margin: 10px 0;
}

.message-form__input_big {
    height: 170px;
}

.message-form__submit {
    background-color: var(--yellow);
    width: 336px;
    height: 54px;
    border-radius: 5px;
    color: var(--white);
    border: none;
    position: absolute;
    left: calc(50% - 168px);
    bottom: -65px;
    text-transform: uppercase;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
    list-style: none;
    padding: 0;
    color: var(--grey);
    font-weight: lighter;
}
